<script>
function copyText(link2copy) {
	url = new URL(link2copy, document.baseURI).href;
	navigator.clipboard.writeText(url).then(function() {
		console.log('Async: Copying to clipboard was successful!');
	}, function(err) {
		console.error('Async: Could not copy text: ', err);
	});
	return false;
}
</script>

{% for filename in filelinks %}
<a href="/fileuploads/{{filename}}" onclick="return copyText('/fileuploads/{{filename}}')"><img src="/fileuploads/{{filelinks[filename]['thumbnail']}}" alt="{{filelinks[filename]['filename']}}"></a><br>
{% endfor %}
<form method="POST" enctype="multipart/form-data">
	<input type="hidden" value="{{linksjson}}" name="filelinks">
	<input type="file" name="file">
	<input type="submit">
</form>
