<!DOCTYPE html>
<head>
	<html lang="en">
	<meta charset="UTF-8">
	<title>{{title}} - {{site_name}}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='code.css') }}">
</head>
<body>
	{% if logged_in %}
		<p>User: {{uname}}</p>
		<p>Role: {{role}}</p>
	{% endif %}
	{{content|safe}}
	<div class="comments">
		<form method="POST">
			<input type="hidden" name="inputtype" value="comment">
			<textarea name="comment_content">A well thought out and insightful comment</textarea><br>
			{% if not logged_in or not role in ["user", "admin"] %}
				{{ make_captcha(captcha_secret_key)|safe }}
			{% endif %}
			<input type="submit">
		</form>
		{% for comment in comments %}
			<h3>{{comment["username"] if comment["username"] != Null else "Anonymous"}}</h3>
			{% if comment["username"] == uname or role == "admin" %}
			<form method="POST">
				<input type="hidden" name="inputtype" value="deletecomment">
				<input type="hidden" name="comment_content" value="{{comment['content']}}">
				<input type="hidden" name="user_role" value="{{comment['role']}}">
				<input type="hidden" name="posted_time" value="{{comment['posted']}}">
				<input type="hidden" name="uname" value="{{comment['username']}}">
				<input type="submit" onclick="return confirm('Are you sure you wish to delete this comment? This cannot be undone!')" value="Delete">
			</form>
			{% endif %}
			<p>{{comment["content"]}}</p>
		{% endfor %}
	</div>
</body>
</html>
